<!--div class="container-fluid ">
    <div class="row">
        <div class="col-md-12 navbars fixed-top">
            <app-navbar *ngIf="login"></app-navbar>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-login *ngIf="!login"></app-login>
        </div>
        <div class="col-md-3">
            <app-sidebar *ngIf="login"></app-sidebar>
        </div>
        <div class="col-md-9 mt-6 contenido active">
            <router-outlet *ngIf="login"></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 footer">
            <app-footer></app-footer>
        </div>
    </div>
</div-->

<div id="wrapper">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!--div class="row">
                <div class="col-md-12 footer">
                    <app-footer></app-footer>
                </div>
            </div-->
    </div>

</div>