
.login{
	margin: auto;
	max-width: 340px;
	min-width: 340px;
}
a { text-decoration: none; }
.facebook{
	background-color: #37548f;
	color: white;
}
.facebook:hover{
	background-color: #37548fe3;
}
.google{
	background-color: #df4a32;
	color: white;
}
.google:hover{
	background-color: #f10c0cba;
}



