<!--div class=" position-fixed " >

  <nav id="sidebar" class="active">
    <div class="sidebar-header">
      <h3>
        <i class="fas fa-file-archive"></i> Custodia Documentos</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a href="#inicioSubmenu" data-toggle="collapse" aria-expanded="false">Inicio
          <i class="fa fa-caret-down pull-right"></i>
        </a>
        <ul class="collapse list-unstyled" id="inicioSubmenu">
          <li>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/documentos">Documentos</a>
      </li>
      <li>
        <a routerLink="/empresas">Empresas</a>
      </li>
      <li>
        <a href="#seguridadSubmenu" data-toggle="collapse" aria-expanded="false">Seguridad
            <i class="fa fa-caret-down pull-right"></i>
        </a>
        <ul class="collapse list-unstyled" id="seguridadSubmenu">
          <li>
            <a routerLink="/usuarios">Usuarios</a>
          </li>
          <li>
            <a href="#">Perfiles</a>
          </li>
          <li>
            <a href="#">Funciones</a>
          </li>
          <li>
              <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false">Administrador
                  <i class="fa fa-caret-down pull-right"></i>
              </a>
              
              <ul class="collapse list-unstyled" id="adminSubmenu">
                <li>
                  <a routerLink="/tipodocumentos">&nbsp; &nbsp; &nbsp;Tipos de Documentos</a>
                </li>
              </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

</div>
<div class="navbar-default sidebar " role="navigation" >
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search" style="text-align: center;">
          <h5 style="font-size: 30px"><i class="fa fa-file-text" style="font-size: 25px" aria-hidden="true"></i> Custodia Documentos</h5>
        <div class="input-group custom-search-form">
         
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
 
      </li>
      <li>
        <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Inicio
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>

        </ul>

      </li>
      <li>
        <a routerLink="/documentos"><i class="fa fa-file-text-o" aria-hidden="true"></i> Documentos</a>
      </li>
      <li>
        <a routerLink="/empresas"><i class="fa fa-briefcase" aria-hidden="true"></i> Empresas</a>
      </li>
      <li>
        <a href="#">
            <i class="fa fa-shield" aria-hidden="true"></i> Seguridad
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a routerLink="/usuarios">Usuarios</a>
          </li>
          <li>
            <a href="#">Perfiles</a>
          </li>
          <li>
            <a href="#">Funciones</a>
          </li>
          <li>
            <a href="#">Administrador
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-third-level">
              <li>
                <a routerLink="/tipodocumentos">Tipos de Documentos</a>
              </li>
            </ul>

          </li>
        </ul>

      </li>
    </ul>
  </div>

</div>
-->

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li><a routerLink="/admin"><i class="fa fa-fw fa-link"></i> Dashboard</a></li>
            <li>
                <a href="#sm_expand_1" data-toggle="collapse">
                    <i class="fa fa-fw fa-link"></i> Expandable Menu Item
                </a>
                <ul id="sm_expand_1" class="list-unstyled collapse">
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>

                </ul>
            </li>
            <li><a routerLink="documentos"><i class="fa fa-fw fa-link"></i> Documentos</a></li>
            <li><a routerLink="empresas"><i class="fa fa-fw fa-link"></i> Empresas</a></li>
            <li><a routerLink="usuarios"><i class="fa fa-fw fa-link"></i> Usuarios</a></li>
            <li><a routerLink="tipo"><i class="fa fa-fw fa-link"></i> tipo</a></li>
        </ul>
    </div>

    <div class="content p-4  w-100">
        <router-outlet></router-outlet>
    </div>
</div>